.header,
.header .left-section,
.header .right-section {
    display: flex;
    height: 108px;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0px 100px;
    position: relative;
    background-image: url(/repo/hotel-website-TT284-TMA/images/header.jpg);
    background-size: cover;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.left-section {
    gap: 10px;
}

.logo {
    height: 80px;
    
}

.logo, .title:hover{
    cursor: pointer;
}

.title {
    font-size: 30px;
    font-weight: 600;
    
}

.pages-container {
    display: flex;
    list-style: none;
    gap: 50px;
}

.header a {
    font-size: 22px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.4s;
}

.header ul li a:hover {
    border-bottom: 1px solid white;
}
