/* Hero */
.hero {
    background-image: url(/images/hero.jpg);
    height: 970px;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.hero-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 100px;
}

.hero-content .top-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading1 {
    font-size: 100px;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin-bottom: 0;
}

.hero-heading2 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    margin-top: 0;
}

.hero-content .bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-content .bottom-section .hero-book-button {
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 100px;
    background-color: white;
    position: relative;
    z-index: 1;
    border-style: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-content .bottom-section .hero-book-button:hover {
    background-color: black; 
    color: white; 
    cursor: pointer;
}

/* Vision & Mission section */
.vision-and-mission {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.vision-and-mission .header {
    font-size: 50px;
    margin-bottom: 0px;
    background-color: white;
}

.vision-and-mission .paragraph {
    font-size: 25px;
    padding: 0px 100px;
    margin-bottom: 90PX;
}

.three-image-collage {
    display: flex;
}

.three-image-collage .rows{
    display: flex;
    flex-direction: column;
    width: 79%;
    height: 970px;
}

.three-image-collage .rows .img1 {
    width: 100%;
    height: 50%;
    background-image: url(/images/image-collage-row1.jpg);
    background-size: cover;
    background-position: center 80%;
    border: 1px solid black;
}

.three-image-collage .rows .img2 {
    width: 100%;
    height: 50%;
    background-image: url(/images/image-collage-row2.jpg);
    background-size: cover;
    background-position: center 70%;
    border: 1px solid black;

}

.three-image-collage .column {
    flex: 1;
    height: 100%;
    width: 100%;
}
.three-image-collage .img3 {
    width: 400px;
    height: 968px;
    background-image: url(/images/image-collage-column.jpg);
    background-size: cover;
    background-position: 90% center;
    border: 1px solid black;
}